<div id="footer">
    <div class="container">
        <p class="text-muted credit">2013 <%= siteName %> | <%= siteTagline %></p>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/functions.js"></script>
</body>
</html>