<br />
<div class="pagination">
    <ul class="pager">
        <% if (page - 1) { %>
        <li><a href="?p=<%= page-1 %>"><%= __('PREVIOUS') %></a></li>
        <% } %>
        <% if (paginationData.length >= 10) { %>
        <li><a href="?p=<%= page+1 %>"><%= __('NEXT') %></a></li>
        <% } %>
    </ul>
</div>